.DS_Store
.AppleDouble
.LSOverride
._*
Icon\r\r

*.app/
dist/
*.dmg

.build/
.cache/
build/
classes/
*.o
*.class
*.jar
*.dSYM/

.swiftpm/
xcuserdata/
*.xcworkspace
*.xcodeproj

.gradle/

.idea/
*.iml
.vscode/
*.swp
*~

.env
.env.*
*.local

make-dmg.sh
make_dmg_background.swift